<div class="span4" id="helloContent">
	<form id="helloForm" ng-submit="sendHello()">
		<div id="helloFieldGroup" class="control-group">
			<label id="helloFieldLabel" for="helloInput" class="control-label">Message</label>
			<div id="helloInputDiv" class="control">
				<input type="text" id="helloInput" placeholder="Hello message"
					ng-model="helloMessage"/>
			</div>
			<div id="loginModalFooter">
				<input type="submit" id="helloButton" class="btn" value="Say hello" />
			</div>
		</div>
	</form>
</div>