html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}
.alignedDiv {
	vertical-align: bottom;
}
.table {
	font-size: small;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.pagination {
	margin-top: 0px;
	text-align: center;
}
/* Wrapper for page content to push down footer */
.wrap {
	min-height: 100%;
	height: auto;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}
.content {
	min-height: 100%;
	height: 100%
}
.footer {
	height: 60px;
}
.hiddenMenu {
	visibility: collapse;
}
.table th {
	text-align: center;
}
.gridSized {
	 width: 400px; 
    height: 300px
}
#goGameButton {
	text-align: center;
	margin-bottom: 8px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
